<li>
    <a class="btn btn-dark" asp-controller="Employees" asp-action="SearchResult">Search Result</a>
</li>
<li class="">
    <a class="btn btn-danger" asp-controller="Employees" asp-action="DynamicSQL">DynamicSQL</a>
</li>